<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

    <div th:each="post : ${posts}">
<form th:action="@{'/posts/edit' + ${post.id}}" method="post">
<!--    form action:-->
<!--th:action="@{/posts/{id}(id=${singlepoast or mypoast.id})}">-->
    <input type="hidden" name="id" value="${post.id}">
    <tr>
        <td>
        </td>
        <input type="text">
        <td></td>
        <input type="text">

    </tr>
</form>
    </div>
    <form action="@{/posts/{id}(id=${singlepoast or mypoast.id})}" method="post">
        <h1>delete</h1>
        <button type="submit">Submit</button>
    </form>

</body>
</html>