<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Post</title>
</head>
<body>

<h2 th:text="${post.title}"></h2>
<h3 th:text="${post.body}"></h3>
<div>
    <h4>Username:</h4>
    <h4 th:value="Integer${post.user_id}"></h4>
    <h4 th:text="${}"></h4>
    <h5>User email:</h5>
    <h5 th:text="${users.email}"></h5>
</div>

<!--consider putting edit/delete same, maybe sep for edit-->

<!--request to view-->
<a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit Post</a>
<!--form to delete-->
<form th:action="@{'/posts/' + ${post.id} + '/delete'}" th:method="POST">

    <button>Delete</button>

</form>
</body>
</html>