<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <span th:include="partials/header :: header"></span>
<!--    <meta charset="UTF-8">-->
    <title>Home</title>
</head>
<body>
    <div>
        <span th:include="partials/navbar :: navbar"></span>
    </div>
    <h1>Home landing page!</h1>
            <!--   placeholder after span -->
    <h2>Welcome <span th:text="${cohort}"></span></h2>

    <form action="/" method="post">
        <input type="text" name="cohort" id="cohort">
        <button type="submit">Submit</button>
    </form>

    <h3> <a href="/roll-dice">Roll Dice Guess</a></h3>
<div>
    <span th:include="partials/footer :: footer"></span>
</div>


</body>
</html>