<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll of the Dice</title>
</head>
<body>

    <h1>Guess the number the die will roll:</h1>

    <form action="/roll-dice">
        <label for="guess"></label>
        <input type="text" id="guess" name="guess">
        <button type="submit"></button>

    </form>

<!--    links to ea li will all point to a get request for a random number that
        then displays / dictate a url-->
    <ul>
        <li><a href="/roll-dice">1</a> </li>
        <l1><a href="/roll-dice">2</a></l1>
        <li><a href="/roll-dice">3</a></li>
        <li><a href="/roll-dice">4</a></li>
        <li><a href="/roll-dice">5</a></li>
        <li><a href="/roll-dice">6</a></li>
    </ul>

</body>
</html>