<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Roll of the Dice</title>
    <span th:include="partials/header :: header"></span>
</head>
<body>
    <div>
        <span th:include="partials/navbar :: navbar"></span>
    </div>

    <h1>Guess the number the die will roll:</h1>

    <form action="/roll-dice">
        <label for="guess"></label>
        <input type="text" id="guess" name="guess">
        <button type="submit">Submit</button>

    </form>

<!--    links to ea li will all point to a get request for a random number that
        then displays / dictate a url-->
    <ul>
        <li><a href="/roll-dice/1">1</a></li>
        <li><a href="/roll-dice/2">2</a></li>
        <li><a href="/roll-dice/3">3</a></li>
        <li><a href="/roll-dice/4">4</a></li>
        <li><a href="/roll-dice/5">5</a></li>
        <li><a href="/roll-dice/6">6</a></li>
    </ul>

<!--    <div th:each="side : ${dieRoll}">-->
<!--        <p th:text="${side.value}"></p>-->
<!--    </div>-->

    <div>
        <span th:include="partials/footer :: footer"></span>
    </div>
</body>
</html>