<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Roll of the Dice</title>
    <span th:include="partials/header :: header"></span>
</head>
<body>
    <div>
        <span th:include="partials/navbar :: navbar"></span>
    </div>

    <h1>Guess the number of the roll of one die:</h1>


<!--    links to ea li will all point to a get request for a random number that
        then displays / dictate a url-->
    <ul>
        <li><a href="/roll-dice/1">1</a></li>
        <li><a href="/roll-dice/2">2</a></li>
        <li><a href="/roll-dice/3">3</a></li>
        <li><a href="/roll-dice/4">4</a></li>
        <li><a href="/roll-dice/5">5</a></li>
        <li><a href="/roll-dice/6">6</a></li>
    </ul>

    <h1>Guess the total of a roll of two dice:</h1>

    <form action="/roll-two-results">
        <label for="guess">Enter number manually:</label>
        <input type="text" id="guess" name="guess">
        <button type="submit">Submit</button>
    </form>

    <ul>
        <li><a href="/roll-two-results/1">1</a></li>
        <li><a href="/roll-two-results/2">2</a></li>
        <li><a href="/roll-two-results/3">3</a></li>
        <li><a href="/roll-two-results/4">4</a></li>
        <li><a href="/roll-two-results/5">5</a></li>
        <li><a href="/roll-two-results/6">6</a></li>
        <li><a href="/roll-two-results/7">7</a></li>
        <li><a href="/roll-two-results/8">8</a></li>
        <li><a href="/roll-two-results/9">9</a></li>
        <li><a href="/roll-two-results/10">10</a></li>
        <li><a href="/roll-two-results/11">11</a></li>
        <li><a href="/roll-two-results/12">12</a></li>
    </ul>
<!--    <div th:each="side : ${dieRoll}">-->
<!--        <p th:text="${side.value}"></p>-->
<!--    </div>-->

    <div>
        <span th:include="partials/footer :: footer"></span>
    </div>
</body>
</html>